@media (max-width: 767.98px) {
    #servicos a.destaque .img-container {
        height: 100%;
    }

    #servicos a.destaque .img-container img {
        max-height: 120px;
    }

    #contato .email {
        padding: 60px 30px 50px 30px;
    }
    
    #contato .email form {
        width: 100%;
        flex-direction: column;
    }
    #portifolio .button-group button{
        font-size: 20px;
    }
    #portifolio .button-group button + button {
        margin-left: 9px;
        font-size: 17px;
    }
    #contato .logo {
        flex-direction: column; 
    }
    #portifolio .button-group button.active{
        color: var(--primary);
        font-size: 17px;
    }
    #contato ul{
        margin-top: 20px;
        justify-content: flex-start;
    }
    #portifolio .element-item img{
        max-width: 150px;
    }
    #parcerias .parcerias-texto .imagem {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 991.98px){
    #contato .email img {
        width: 90px;
        top: -40px;
    }
    
}